.basic-panel {
  padding-bottom: 5px;
  margin: 5px;
}

.basic-panel__title {
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.basic-panel__subtitle {
  color: gray;
  font-size: 10pt;
}

.basic-box {
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid lightgray;
}
