.basic-panel {
  border-bottom: 1px solid lightgray;
  margin: 5px;
}

.basic-panel-title {
  color: gray;
}

.basic-box {
  padding: 8px;
  display: inline-block;
  background-color: white;
  border: 1px solid lightgray;
}
