.general-panel-icon {
  font-size: 12pt;
  padding: 8px;
  display: inline-block;
  background-color: white;
  border: 1px solid lightgray;
}

.general-panel-icon:focus {outline:0;}

.general-panel-icon:active {
  background-color: lightgray;
}

.general-panel-icon--active {
  background-color: lightblue;
}

.general-panel-input {
  border: none;
  border-bottom: 1px solid lightgray;
}
