:local(.btn-time) {
  font-size: 9pt;
}

:local(.btn-link) {
  border: none;
  padding: 0;
  border-bottom: 1px solid gray;
  cursor: pointer;
  font-size: 10pt;
}

:local(.info-heading) {
  font-size: 11pt;
}
