.main-box {
  width: 300px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px lightgray;
  font-size: 10pt;
  text-align: left;
}

.main-box-title {
  border-bottom: 1px solid lightgray;
  padding: 3px;
}

.main-box-title:hover {
  background-color: lightskyblue;
}
