.main-box {
  display: inline-block;
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px lightgray;
  font-size: 10pt;
  text-align: left;
}

.main-box__heading {
  border-bottom: 1px solid lightgray;
  padding: 3px;
}

.main-box__heading:hover {
  cursor: move;
  background-color: lightskyblue;
}

.main-box__btn {
  font-size: 12pt;
  padding: 6px;
  margin: 2px;
  display: inline-block;
  background-color: white;
  border: 1px solid lightgray;
}

.main-box__btn--icon {
  padding: 8px;
  margin: 0;
}

.main-box__btn:focus {
  outline: 0;
  border: 1px solid lightskyblue;
}

.main-box__btn:hover {
  background-color: lightgray;
}

.main-box__btn:active {
  background-color: gray;
}

.main-box__btn--active {
  background-color: lightblue;
}

.main-box__btn--sm {
  padding: 4px;
  font-size: 10pt;
}
